@font-face {
    font-family: HindMadurai-light;
    src: url(../../fonts/HindMadurai-Light.ttf);
}

@font-face {
    font-family: HindMadurai-regular;
    src: url(../../fonts/HindMadurai-Regular.ttf);
}

@font-face {
    font-family: HindMadurai-medium;
    src: url(../../fonts/HindMadurai-Medium.ttf);
}

@font-face {
    font-family: HindMadurai-bold;
    src: url(../../fonts/HindMadurai-Bold.ttf);
}