// COLORS 

$clr1: #fd3170; //gradient
$clr2: #fe5e38; //gradient
$clr3: #ff4357; //underline
$clr4: #eff2f4; //background color
$clr5: #90969f; //bottom buttons
$clr6: #ffffff;


// BASE PADDING & MARGIN

$base-padding: rem(10px);
$base-margin: rem(20px);


// Breakpoints
$break-normal: 720px;
$break-wide: 920px;