
.main-container {
    display: grid;
    grid-template-rows: 65px 1fr 70px 70px;
    height: 100vh;

        main {
            position: relative;
            grid-row: 2 / 3;
            overflow-y: auto;
        }

        .nav-container {
            grid-row: 4;
            height: 100%;
            
            .logo-container {
                display: none;
            }

            ul {
                flex-direction: row;
                justify-content: space-evenly;
            }
            .link-container {

                .title {
                    display: none;
                }
            }
        }
  

    @include for-wide-layout {
        grid-template-columns: 225px 1fr;
        grid-template-rows: 65px 1fr 100px;
        width: 100%;
        

        header {
            grid-column: 2 / -1;
            grid-row: 1/2;
            height: 65px;
            padding: $base-padding;
        }
    
        .nav-container {
            grid-column: 1 / 2;
            grid-row: 1 / -1;
            height: 100%;
            display: flex;

            .logo-container {
                display: block;
            }

            ul {
                flex-direction: column;
            }

            .link-container {

                .title {
                    display: block;
                }
            }
        }
    
        main {
            grid-column: 2/-1;
            grid-row: 1 / 3;
            overflow-y: auto;
        }
    
        .player {
            grid-column: 1 / -1;
            grid-row: 3;
        }
    }
}